In [12]:
import pandas as pd

# Path to your CSV file
file_path = './data/dataset_gkt_bert_embed_train_past5.csv'

# Load the dataset with the correct delimiter
df1 = pd.read_csv(file_path, delimiter='\t')

# Display the first few rows of the dataset
print(df1.head())

   student_id  course_name  slide_id  question_id  correctness student_choice  \
0         155            1         0            1            0              B
1         155            1         0            2            1              B
2         155            1         1            3            1              C
3         155            1         1            4            1              A
4         155            1         1            5            0              A

  correct_choice                                   uid data_type xy_type  \
0              D  ba411891-a8fd-42f5-9416-d20a011eefc2     train    past
1              B  a6453324-af0a-485d-acc2-2a9350cb554b     train    past
2              C  66ba5529-ceff-47b1-a7c1-afcd22fd8f30     train    past
3              A  9ad10375-55dc-449e-bd3d-d7c3bd60c2fc     train    past
4              B  a7892b9a-50ca-4b2c-830c-eb5401b04f2b     train    past

                                      embedding_bert
0  [-0.32254651188850403, -0.046136535704135895, ...
1  [-0.3086850941181183, 0.11033932864665985, 0.4...
2  [-0.42538684606552124, 0.0011648386716842651, ...
3  [-0.42538684606552124, 0.0011648386716842651, ...
4  [-0.42538684606552124, 0.0011648386716842651, ...

In [13]:
df1[df1["xy_type"] == "past"]["student_id"].unique()

array([155, 165, 154, 161, 164, 176, 140, 153, 158, 179, 163, 149, 136,
       142, 181, 146, 178, 186, 175, 238, 220, 207, 218, 256, 258, 204,
       216, 234, 246, 211, 208, 241, 257, 262, 202, 245, 209, 240, 212,
       217, 230, 233, 332, 274, 302, 295, 305, 320, 321, 319, 282, 318,
       283, 322, 311, 292, 323, 272, 278, 273, 290, 279, 327, 324, 314,
       304, 329, 330, 331, 299, 280, 576, 619, 565, 600, 624, 613, 570,
       623, 581, 614, 579, 583, 608, 611, 605, 593, 603, 577, 621, 578,
       609, 587, 388, 402, 334, 384, 392, 382, 342, 399, 338, 398, 361,
       411, 425, 386, 423, 369, 352, 417, 341, 381, 409, 408, 368, 410,
       414, 377, 394, 630, 684, 678, 633, 674, 675, 631, 654, 645, 637,
       679, 636, 646, 642, 663, 677, 649, 680, 658, 671, 638, 650, 644,
       639, 641, 451, 498, 465, 432, 478, 495, 445, 497, 486, 461, 463,
       472, 466, 493, 440, 489, 485, 454, 476, 477, 436, 479, 724, 701,
       735, 721, 715, 732, 742, 722, 711, 737, 750, 751, 725, 689, 714,
       699, 692, 696, 729, 707, 702, 731, 716, 733, 698, 537, 518, 561,
       525, 517, 513, 555, 514, 546, 544, 532, 521, 510, 552, 509, 508,
       542, 515, 507, 523, 560, 527, 526, 548, 559, 814, 788, 784, 769,
       809, 781, 802, 801, 798, 761, 792, 770, 776, 819, 772, 773, 755,
       775, 763, 815, 822, 777, 790])

In [14]:
df1[df1["xy_type"] == "future"]["student_id"].unique()

array([155, 165, 154, 161, 164, 176, 140, 153, 158, 179, 163, 149, 136,
       142, 181, 146, 178, 186, 175, 238, 220, 207, 218, 256, 258, 204,
       216, 234, 246, 211, 208, 241, 257, 262, 202, 245, 209, 240, 212,
       217, 230, 233, 332, 274, 302, 295, 305, 320, 321, 319, 282, 318,
       283, 322, 311, 292, 323, 272, 278, 273, 290, 279, 327, 324, 314,
       304, 329, 330, 331, 299, 280, 576, 619, 565, 600, 624, 613, 570,
       623, 581, 614, 579, 583, 608, 611, 605, 593, 603, 577, 621, 578,
       609, 587, 388, 402, 334, 384, 392, 382, 342, 399, 338, 398, 361,
       411, 425, 386, 423, 369, 352, 417, 341, 381, 409, 408, 368, 410,
       414, 377, 394, 630, 684, 678, 633, 674, 675, 631, 654, 645, 637,
       679, 636, 646, 642, 663, 677, 649, 680, 658, 671, 638, 650, 644,
       639, 641, 451, 498, 465, 432, 478, 495, 445, 497, 486, 461, 463,
       472, 466, 493, 440, 489, 485, 454, 476, 477, 436, 479, 724, 701,
       735, 721, 715, 732, 742, 722, 711, 737, 750, 751, 725, 689, 714,
       699, 692, 696, 729, 707, 702, 731, 716, 733, 698, 537, 518, 561,
       525, 517, 513, 555, 514, 546, 544, 532, 521, 510, 552, 509, 508,
       542, 515, 507, 523, 560, 527, 526, 548, 559, 814, 788, 784, 769,
       809, 781, 802, 801, 798, 761, 792, 770, 776, 819, 772, 773, 755,
       775, 763, 815, 822, 777, 790])

In [16]:
df1[df1["xy_type"] == "past"]["question_id"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [8]:
df["question_id"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [9]:
df[df["student_id"]==272]

,student_id,course_name,slide_id,question_id,correctness,student_choice,correct_choice,uid,data_type,xy_type,embedding_bert
669,272,2,0,1,0,C,B,562dfa33-648b-4890-9a22-624fe0d95927,train,past,"[-0.3956514894962311, 0.09078902751207352, 0.2..."
670,272,2,1,2,1,A,A,cb4b67fb-d6dd-4119-b29c-09b7980fb196,train,past,"[-0.34980127215385437, -0.013271565549075603, ..."
671,272,2,1,3,0,D,C,20abc5df-b785-4472-b1f1-f2ff03aef71c,train,past,"[-0.3879075050354004, -0.015683485195040703, 0..."
672,272,2,1,4,0,C,B,1b5699d5-de9c-4471-a6f9-2c07af48003e,train,past,"[-0.367018461227417, 0.014863654971122742, 0.2..."
673,272,2,1,5,0,D,A,9d6a101b-eb54-460b-99b9-71ed8fbf06de,train,past,"[-0.3464859127998352, -0.004679875448346138, 0..."
674,272,2,1,6,1,A,A,035580a8-4669-48b5-b299-2e12a8846b93,train,past,"[-0.3565380871295929, -0.06719783693552017, 0...."
675,272,2,1,7,1,B,B,de2eb626-e925-4abb-a916-29a700166b5b,train,past,"[-0.3729203939437866, 0.02575196698307991, 0.2..."
676,272,2,1,8,0,C,D,a8a01b83-aff4-4468-9297-2da690e14d88,train,past,"[-0.41188472509384155, -0.018626414239406586, ..."
677,272,2,2,9,0,D,B,257f9f83-e575-420e-9b34-2298fda29777,train,future,"[-0.3425827622413635, 0.008289456367492676, 0...."
678,272,2,2,10,0,B,A,9e1b9483-8246-4c10-a160-34a3321bec95,train,future,"[-0.36626994609832764, 0.010929979383945465, 0..."
679,272,2,2,11,0,C,D,83e23138-0ea2-422b-b949-88f528e12023,train,future,"[-0.35499221086502075, 0.00598684698343277, 0...."

In [6]:
645 in df["student_id"].unique()

True

In [7]:
df[df["student_id"] == 645]

,student_id,course_name,slide_id,question_id,correctness,student_choice,correct_choice,uid,data_type,xy_type,embedding_bert
1450,645,3,0,1,1,B,B,c1399ec7-350a-4a6d-b740-b71bbfb92ac8,train,past,"[-0.3673139214515686, 0.010548396036028862, 0...."
1451,645,3,0,2,0,D,C,3b3b54ce-fce8-4f28-bad2-8a543f0dc3c4,train,past,"[-0.3776988983154297, 0.025376245379447937, 0...."
1452,645,3,0,3,1,B,B,ca5a42d7-c255-49c3-9f94-4d1f26220b54,train,past,"[-0.37942802906036377, 0.02659442275762558, 0...."
1453,645,3,1,4,1,B,B,bf8976c2-a8fe-432d-bea9-4b012d8eb310,train,past,"[-0.3381645083427429, -0.03150570020079613, 0...."
1454,645,3,1,5,1,B,B,c7ca35e5-60df-4844-8f21-c67cd370ed2a,train,past,"[-0.3381645083427429, -0.03150570020079613, 0...."
1455,645,3,1,6,1,A,A,b6c5f4e0-4501-4101-a092-21e9a0e89b06,train,past,"[-0.3381645083427429, -0.03150570020079613, 0...."
1456,645,3,1,7,1,C,C,7598196a-5a23-4cef-9ec7-c9f10ba49ef2,train,past,"[-0.3381645083427429, -0.03150570020079613, 0...."
1457,645,3,1,8,1,D,D,4a496fa7-4186-4a33-a6ce-b7c63a682137,train,past,"[-0.3381645083427429, -0.03150570020079613, 0...."
1458,645,3,2,9,1,A,A,703828a5-f7a2-49d7-a022-6e4f8474b9ba,train,future,"[-0.40153855085372925, 0.11435997486114502, 0...."
1459,645,3,2,10,1,D,D,1bee8f80-bfd4-4d28-a65a-fe22c0e805df,train,future,"[-0.41152408719062805, 0.08791372179985046, 0...."
1460,645,3,2,11,1,D,D,6a7466ad-871a-4448-a9e1-41eb3aaee59d,train,future,"[-0.4125387668609619, 0.058981165289878845, 0...."

In [9]:
import pandas as pd

# Path to your CSV file
file_path = './data/dataset_gkt_bert_embed_test_public_past5.csv'

# Load the dataset with the correct delimiter
df = pd.read_csv(file_path, delimiter='\t')

# Display the first few rows of the dataset
print(df.head())

   student_id  course_name  slide_id  question_id  correctness student_choice  \
0         148            1         0            1          1.0              D
1         148            1         0            2          0.0              A
2         148            1         1            3          1.0              C
3         148            1         1            4          1.0              A
4         148            1         1            5          1.0              B

  correct_choice                                   uid data_type xy_type  \
0              D  25884db5-e800-47b4-a125-7cd19f2e94f0      test    past
1              B  55bf62c6-bbbe-4955-b66e-964c081d8687      test    past
2              C  779ca0b0-c1d8-432d-9e89-afef88bd31d2      test    past
3              A  dc7962a7-4781-4be7-b2cc-6f393cc6ce81      test    past
4              B  70ec2670-a949-4a58-9888-cf0a62cf21cf      test    past

                                      embedding_bert
0  [-0.3233220875263214, -0.024512596428394318, 0...
1  [-0.3029868006706238, 0.13460049033164978, 0.4...
2  [-0.4249376654624939, 0.010275576263666153, 0....
3  [-0.4249376654624939, 0.010275576263666153, 0....
4  [-0.4249376654624939, 0.010275576263666153, 0....

In [3]:
for i, row in df.iterrows():
    if pd.isna(row["correctness"]):
        df.at[i, "correctness"] = int(row["student_choice"] == row["correct_choice"])

In [11]:
df["student_id"].unique()

array([148, 191, 160, 167, 228, 201, 260, 213, 244, 297, 268, 269, 298,
       325, 288, 599, 597, 590, 574, 584, 337, 366, 349, 362, 651, 653,
       667, 661, 672, 666, 643, 452, 462, 438, 447, 474, 433, 467, 492,
       481, 459, 468, 744, 694, 748, 690, 740, 745, 749, 541, 550, 558,
       503, 504, 506, 538, 778, 757, 766, 789, 810])

In [7]:
df[df["student_id"]==136]

Empty DataFrame
Columns: [student_id, course_name, slide_id, question_id, correctness, student_choice, correct_choice, uid, data_type, xy_type, embedding_bert]
Index: []

In [14]:
df[df["xy_type"] == "past"].head(10)

,student_id,course_name,slide_id,question_id,correctness,student_choice,correct_choice,uid,data_type,xy_type,embedding_bert
0,155,1,0,1,0,B,D,ba411891-a8fd-42f5-9416-d20a011eefc2,train,past,"[-0.32254651188850403, -0.046136535704135895, ..."
1,155,1,0,2,1,B,B,a6453324-af0a-485d-acc2-2a9350cb554b,train,past,"[-0.3086850941181183, 0.11033932864665985, 0.4..."
2,155,1,1,3,1,C,C,66ba5529-ceff-47b1-a7c1-afcd22fd8f30,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
3,155,1,1,4,1,A,A,9ad10375-55dc-449e-bd3d-d7c3bd60c2fc,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
4,155,1,1,5,0,A,B,a7892b9a-50ca-4b2c-830c-eb5401b04f2b,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
5,155,1,1,6,1,B,B,9e34535a-4aab-408d-a5c9-e746cb5da4e7,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
6,155,1,1,7,1,A,A,5da23925-91a6-4a3e-a019-db4db98cdf01,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
7,155,1,1,8,1,A,A,2f4d9aa8-06a7-4561-b4e4-5a672749504f,train,past,"[-0.42538684606552124, 0.0011648386716842651, ..."
12,165,1,0,1,1,D,D,1d4814ab-17eb-4391-91f6-39eb10da929e,train,past,"[-0.3252038359642029, -0.04734605923295021, 0...."
13,165,1,0,2,1,B,B,fb38bf85-f536-4afd-a283-946fb0851e6b,train,past,"[-0.300860196352005, 0.10723258554935455, 0.40..."

In [13]:
df[df["xy_type"] == "future"]

,student_id,course_name,slide_id,question_id,correctness,student_choice,correct_choice,uid,data_type,xy_type,embedding_bert
8,155,1,2,9,1,B,B,dfe13e0e-4c80-43f8-ab6e-7b8f93260b9c,train,future,"[-0.2601923644542694, 0.17513465881347656, 0.3..."
9,155,1,2,10,1,A,A,311121b4-b9e9-4f1c-85ab-0499986ef923,train,future,"[-0.2863951325416565, 0.16944164037704468, 0.3..."
10,155,1,2,11,0,A,B,4a15fc5d-8cfb-43ea-a8d1-24a873aca8f6,train,future,"[-0.264670729637146, 0.22136446833610535, 0.42..."
11,155,1,3,12,1,C,C,85c2f764-c8f5-4448-a17c-58e855637b28,train,future,"[-0.3074367642402649, 0.06628195196390152, 0.3..."
20,165,1,2,9,1,B,B,6c9a4cf2-678b-47d8-9775-e579f2675f47,train,future,"[-0.2486124187707901, 0.16673490405082703, 0.3..."
...,...,...,...,...,...,...,...,...,...,...,...
2764,777,5,3,12,1,C,C,b0bfd712-2373-4f8a-a0a9-cab2bb3fae1d,train,future,"[-0.3094552755355835, 0.0760718584060669, 0.41..."
2773,790,5,2,9,1,A,A,efb7da8d-186e-49e5-b718-5b9ae8bfd6e0,train,future,"[-0.36892664432525635, 0.021065540611743927, 0..."
2774,790,5,3,10,1,B,B,5797b3e7-ff04-43e0-af8c-17a34070681d,train,future,"[-0.3167443871498108, 0.08530383557081223, 0.3..."
2775,790,5,3,11,0,B,C,a7c9063f-f42c-4a2f-ba0c-60b17b53e412,train,future,"[-0.3167443871498108, 0.08530383557081223, 0.3..."
2776,790,5,3,12,1,C,C,249c168e-3497-4469-8329-84d726666dfe,train,future,"[-0.3167443871498108, 0.08530383557081223, 0.3..."